html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer p {
    padding: 15px 0;
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
}

code {
    font-size: 80%;
}
